#!/hint/bash
ADDITIONAL_HOST_TOOLS="ld"
BUILDTOOLS_PREBUILT_BIN=build/build-tools/path/linux-x86
COMPRESS_UNSTRIPPED_MODULES=1
HERMETIC_TOOLCHAIN="${HERMETIC_TOOLCHAIN:-1}"
IN_KERNEL_MODULES=1
LIBUFDT_PREBUILTS_BIN=prebuilts-master/misc/linux-x86/libufdt
STOP_SHIP_TRACEPRINTK=1
UNSTRIPPED_MODULES="*.ko"

function set_dtbo_config() {
    # Enable DT overlay options
    "${KERNEL_DIR}"/scripts/config --file "${OUT_DIR}"/.config \
        -e BUILD_ARM64_DT_OVERLAY
    (cd "${OUT_DIR}" && make ${CC_LD_ARG} O="${OUT_DIR}" olddefconfig)
}

function set_prima_config() {
    # Enable prima-specific options
    "${KERNEL_DIR}"/scripts/config --file "${OUT_DIR}"/.config \
        -m PRONTO_WLAN
    (cd "${OUT_DIR}" && make ${CC_LD_ARG} O="${OUT_DIR}" olddefconfig)
}

function set_qcacld_default_config() {
    # Enable qcacld-specific options
    "${KERNEL_DIR}"/scripts/config --file "${OUT_DIR}"/.config \
        -m QCA_CLD_WLAN \
        --set-str QCA_CLD_WLAN_PROFILE "default"
    (cd "${OUT_DIR}" && make ${CC_LD_ARG} O="${OUT_DIR}" olddefconfig)
}

function set_qcacld_qca6174_config() {
    # Enable qcacld-specific options
    "${KERNEL_DIR}"/scripts/config --file "${OUT_DIR}"/.config \
        -m QCA_CLD_WLAN \
        --set-str QCA_CLD_WLAN_PROFILE "qca6174"
    (cd "${OUT_DIR}" && make ${CC_LD_ARG} O="${OUT_DIR}" olddefconfig)
}

function set_qcacld_qca6390_config() {
    # Enable qcacld-specific options
    "${KERNEL_DIR}"/scripts/config --file "${OUT_DIR}"/.config \
        -m QCA_CLD_WLAN \
        --set-str QCA_CLD_WLAN_PROFILE "qca6390"
    (cd "${OUT_DIR}" && make ${CC_LD_ARG} O="${OUT_DIR}" olddefconfig)
}
